@using Microsoft.AspNetCore.Identity
@using static PrimeHoldingProject.Infrastructure.Constants.RoleConstants;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole(EmployeeConstant))
        {
            <li class="nav-item">
                <a class="nav-link text-red" style="color:red;" asp-controller="Employee" asp-action="QuitJob">Quit my job</a>
            </li>
        }
        else if (User.IsInRole(ManagerConstant))
        {
            <li class="nav-item">
                <a class="nav-link text-red" style="color:red;" asp-controller="Manager" asp-action="QuitJob">Quit my job</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
